{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
    <div class="about-page">
        <a href="/"><i class="back-to-homepage"></i></a>
        <div class="content">
            <h1>About <span class="app-name">ItRadar</span></h1>
            <p>
                Welcome to ItRadar, a small search engine crafted to focus exclusively on IT-related content. 
                It was created as a personal project and is dedicated to delivering results from technology news, blogs, and articles. 
                The goal behind ItRadar is simple: to offer a streamlined and easy-to-use platform for navigating the fast-paced world of IT media. 
                Whether you're looking for the latest tech trends, insightful blog posts, or industry updates, ItRadar is here to help you stay informed.
            </p>
        </div>
    </div>
{% endblock %}